
@{
    ViewBag.Title = "Sendusernamepassword";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<style>
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
    }

    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
</style>
<link href="~/Content/DropDownSelect2/dist/css/select2.min.css" rel="stylesheet" />
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="dashboard_graph">
                <div class="row x_title">
                    <!--row x_title started -->
                    <div class="col-sm-12">
                        <!-- col-sm-12 started -->
                        <div class="col-sm-6">
                            <h4> Send Email &nbsp;<i class="fa fa-forward"></i></h4>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-3">
                            <div class="form-group">
                                @*@Html.DropDownList("Yearddl", new SelectList(ViewBag.AllYears, "DataListItemName", "DataListItemName"), "select", new { @id = "Yearddl", @class = "form-control" })*@
                                <label>Select Class</label>
                                <select class="form-control select2" id="Yearddl">
                                    <option value="0">---Select Class---</option>
                                    @foreach (var item in ViewBag.Classes as IEnumerable<SchoolManagement.Data.Models.Tbl_DataListItem>)
                                    {
                                        <option value="@item.DataListItemId">@item.DataListItemName</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Select Section</label>
                                <select class="form-control select2" id="FromDate">
                                    <option value="0">---Select Section---</option>
                                    @foreach (var item in ViewBag.Section as IEnumerable<SchoolManagement.Data.Models.Tbl_DataListItem>)
                                    {
                                        <option value="@item.DataListItemId">@item.DataListItemName</option>
                                    }
                                </select>
                                @*<input type="text" id="FromDate" class="form-control datepicker"/>*@
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Select Academic Year</label>
                                <select class="form-control select2" id="BatchId">
                                    <option value="0">---Select Academic Year---</option>
                                    @foreach (var item in ViewBag.Batch as IEnumerable<SchoolManagement.Website.Models.Tbl_Batches>)
                                    {
                                        <option value="@item.Batch_Id">@item.Batch_Name</option>
                                    }
                                </select>
                                @*<input type="text" id="FromDate" class="form-control datepicker"/>*@
                            </div>
                        </div>
                        <div class="col-sm-3" style="margin-top:20px;">
                            <div class="form-group">
                                <button type="button" class="btn btn-success" id="Btnfilter">Filter</button>
                            </div>
                        </div>


                    </div>
                </div><!-- dashboard_graph closed-->
            </div><!--col-msx-12 closed-->
            <div class="row">
                <!-- row started -->
                <div class="col-md-12 col-sm-12 col-xs-12 jss_c">
                    <!-- col-msx-12 started -->
                    <!-- col-sm-12 closed -->
                    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                        <!-- col-msx-12 started -->

                        <table class="table table-responsive table-striped" style="width: 100%" id="TblUserPass">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" id="senduserpass" />All</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th> Class</th>
                                    <th>User Name</th>
                                    <th>Password</th>
                                    <th>Email</th>
                                    <th>UserId</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="TableBody">
                                @{
                                    foreach (var item in ViewBag.Userlist as IEnumerable<SchoolManagement.Website.Controllers.UserNamePassword>)
                                    {
                                        <tr>
                                            <td><input type="checkbox" class="Usernameselectbox" /></td>
                                            <td class="userpass">@item.FirstName</td>
                                            <td class="userpass">@item.LastName</td>
                                            <td class="userpass">@item.Class</td>
                                            <td class="userpass">@item.Username</td>
                                            <td class="userpass">@item.Password</td>
                                            <td class="userpass">@item.Email</td>
                                            <td class="userpass">@item.Userid</td>
                                            <td>
                                                @*<button type="button" class="changepass" id="@item.Userid"><i class="fa fa-pencil" aria-hidden="true"></i></button>*@
                                                <button type="button" class="btn btn-primary changepass" data-toggle="modal" data-target="#changePasswordModal" id="@item.Studentid">
                                                    Change Password
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- col-msx-12  closed -->
                </div>
                <!-- col-msx-12  closed -->
            </div>

            <div style="text-align:right;margin-top:20px">
                <button type="button" id="BtnSend" class="btn btn-success">Send</button>
            </div>

        </div>
    </div>
</div>
<script src="~/Content/DropDownSelect2/dist/js/select2.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.print.min.js"></script>
<script>
    $('.select2').select2({
    });
    $('.changepass').on('click', function () {
        var A = $(this).attr('id');
        sessionStorage.setItem('clickedButtonId2', $(this).attr('id'));
        $('#staffIdmodel').val($(this).attr('id'));
    })

    // $("#TblUserPass").DataTable();
    var table = $("#TblUserPass").DataTable({
        "order": [], // Disable default sorting
        "columnDefs": [
            { "targets": 0, "searchable": true, "orderable": false } // Disable sorting for the first column (scholar number)
        ],
        "dom": '<"d-flex justify-content-between align-items-center"lBf>rtip',
        "buttons": [

            {
                extend: 'excelHtml5',
                text: 'Excel',
                className: 'btn btn-info',
                exportOptions: {
                    columns: ':visible', // Export only visible columns
                    modifier: {
                        search: 'applied' // Export only filtered data
                    }
                }
            },

            {
                extend: 'pdfHtml5',
                text: 'PDF',
                className: 'btn btn-warning',
                exportOptions: {
                    columns: ':visible',
                    modifier: {
                        search: 'applied' // Export only filtered data
                    }
                }
            }
        ]
    });


    var data = [];
    var data1 = [];
    var checked = "";
    var firstname = "";
    var Classname = "";
    var username = "";
    var password = "";
    var parentemail = "";
    $("#senduserpass").change(function () {
        checked = $(this).is(':checked');
        //alert(checked);
        if (checked) {
            $(".Usernameselectbox").each(function (a, b) {
                $(this).prop("checked", true);
                //var fname = $(this).parent().closest('tr').find("td:eq(1)").html();
                //data.push(fname);

            });
        }
        //else {
        //    $(".Usernameselectbox").each(function () {
        //        $(this).prop("checked", false);
        //    });
        //}
    });
    //var ischeck = $("#senduserpass").is(':checked');
    //alert(ischeck);

    //if (ischeck) {
    //    $(".Usernameselectbox").each(function (a, b) {
    //        $(this).prop("checked", true);
    //        var fname = $(this).parent().closest('tr').find("td:eq(1)").html();
    //        data.push(fname);

    //    });
    //}
    //else {
    //    $(".Usernameselectbox").each(function () {
    //        $(this).prop("checked", false);
    //    });
    //}


    //else {
    //    $(document).on('change', '.Usernameselectbox', function () {
    //        firstname = $(this).parent().closest('tr').find("td:eq(1)").html();
    //        Classname = $(this).parent().closest('tr').find("td:eq(3)").html();
    //        username = $(this).parent().closest('tr').find("td:eq(4)").html();
    //        password = $(this).parent().closest('tr').find("td:eq(5)").html();
    //        parentemail = $(this).parent().closest('tr').find("td:eq(6)").html();
    //        //alert(firstname);
    //    });
    //}


    //$(".Usernameselectbox").change(function () {
    //    $(".Usernameselectbox").each(function (a, b) {
    //        if ($(this).prop("checked")) {

    //            var fname = $(this).parent().closest('tr').find("td:eq(1)").html();
    //            data1.push(fname);
    //        }

    //    });
    //});

    //$(document).on('change', '.Usernameselectbox', function () {
    //    firstname = $(this).parent().closest('tr').find("td:eq(1)").html();
    //     Classname = $(this).parent().closest('tr').find("td:eq(3)").html();
    //     username = $(this).parent().closest('tr').find("td:eq(4)").html();
    //    password = $(this).parent().closest('tr').find("td:eq(5)").html();
    //     parentemail = $(this).parent().closest('tr').find("td:eq(6)").html();
    //    //alert(firstname);
    //});


    $("#BtnSend").on('click', function () {
        var usernamepasswordviewmodel = {};
        var Firstname = [];
        var Lastname = [];
        var Username = [];
        var Password = [];
        var Parentemail = [];
        var Classname = [];
        var UserId = [];
        var classid = $("#Yearddl").val();
        var date = $("#FromDate").val();
        var CheckAll = "False";

        if (checked) {
            CheckAll = "True";
            $(".Usernameselectbox").each(function (a, b) {
                //$(this).prop("checked", true);
                var fname = $(this).parent().closest('tr').find("td:eq(1)").html();
                var Lname = $(this).parent().closest('tr').find("td:eq(2)").html();
                var Cname = $(this).parent().closest('tr').find("td:eq(3)").html();
                var uname = $(this).parent().closest('tr').find("td:eq(4)").html();
                var pasword = $(this).parent().closest('tr').find("td:eq(5)").html();
                var pemail = $(this).parent().closest('tr').find("td:eq(6)").html();
                var userid = $(this).parent().closest('tr').find("td:eq(7)").html();

                Firstname.push(fname);
                Lastname.push(Lname);
                Classname.push(Cname);
                Username.push(uname);
                Password.push(pasword);
                Parentemail.push(pemail);
                UserId.push(userid);
            });
        }
        else {
            CheckAll = "False";
            $(".Usernameselectbox").each(function (a, b) {
                if ($(this).prop("checked")) {

                    var fname = $(this).parent().closest('tr').find("td:eq(1)").html();
                    var Lname = $(this).parent().closest('tr').find("td:eq(2)").html();
                    var Cname = $(this).parent().closest('tr').find("td:eq(3)").html();
                    var uname = $(this).parent().closest('tr').find("td:eq(4)").html();
                    var pasword = $(this).parent().closest('tr').find("td:eq(5)").html();
                    var pemail = $(this).parent().closest('tr').find("td:eq(6)").html();
                    var userid = $(this).parent().closest('tr').find("td:eq(7)").html();

                    Firstname.push(fname);
                    Lastname.push(Lname);
                    Classname.push(Cname);
                    Username.push(uname);
                    Password.push(pasword);
                    Parentemail.push(pemail);
                    UserId.push(userid);
                }

            });
        }
        usernamepasswordviewmodel.Firstname = Firstname;
        usernamepasswordviewmodel.Lastname = Lastname;
        usernamepasswordviewmodel.Classname = Classname;
        usernamepasswordviewmodel.Username = Username;
        usernamepasswordviewmodel.Password = Password;
        usernamepasswordviewmodel.Parentemail = Parentemail;
        usernamepasswordviewmodel.Classid = classid;
        usernamepasswordviewmodel.Date = date;
        usernamepasswordviewmodel.CheckAll = CheckAll;
        usernamepasswordviewmodel.Userid = UserId;
        //var data = [];
        //var firstname = $(this).parent().closest('tr').find("td:eq(1)").html();
        //data.push(firstname);
        ////$(".userpass").each(function () {
        ////    data.push($(this).text());
        ////});
        //alert(data);

        //alert(firstname);

        //alert(data1);
        //alert(data);
        //alert(usernamepasswordviewmodel.Firstname);

        //if (classid != 0 && date != null) {

        //}

        //  if (classid != 0 && date != null && usernamepasswordviewmodel.Classname == null) {
        //      alert("Please Select the receipients");
        //  }

        //else if (classid != 0 && date != null && checked == false ) {
        //      alert("Please Select the receipient");
        //      window.location.reload();
        //  }
        //if (usernamepasswordviewmodel.Classname != null) {
        //    alert("Please select Receipient");
        //    window.location.reload();
        //}

        //else
        {
            $.ajax({
                url: "/SMSandEmail/SendEmailTostudent",
                data: JSON.stringify(usernamepasswordviewmodel),
                type: "POST",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function (result) {
                    if (result == "S") {
                        alert("Email Delivered Successfully");
                        window.location.reload();
                    } else {
                        alert(result);
                        // alert("Please Select Receipient");
                        window.location.reload();
                    }
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }


            });
        }




    });

    $("#Btnfilter").on('click', function () {
        var id = $("#Yearddl").val();
        var Date = $("#FromDate").val();
        var batch = $("#BatchId").val();
        console.log(id, Date)
        if (id == 0 || Date == null) {

            alert("Please select Class and Section");
        }
        else {
            var html = "";
            $.ajax({
                url: "/SMSandEmail/FilterClass",
                data: { id: id, section: Date, BatchId: batch },
                type: "GET",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function (result) {
                    for (var i = 0; i < result.length; i++) {
                        html += "<tr>";
                        html += "<td><input class='Usernameselectbox' type='checkbox'/>";
                        html += "<td>" + result[i].FirstName + "</td>";
                        html += "<td>" + result[i].LastName + "</td>";
                        html += "<td>" + result[i].Class + "</td>";
                        html += "<td>" + result[i].Username + "</td>";
                        html += "<td>" + result[i].Password + "</td>";
                        html += "<td>" + result[i].Email + "</td>";
                        html += "<td>" + result[i].Userid + "</td>";
                        html += "<td><button type='button' class='btn btn-primary changepass' data-toggle='modal' data-target='#changePasswordModal' id='" + result[i].Studentid + "'>Change Password</button></td>";

                        html += "</tr>";
                    }
                    $("#TblUserPass").DataTable().destroy();
                    $("#TableBody").empty();
                    $("#TableBody").html(html);
                    /*$("#TblUserPass").DataTable();*/
                    var table = $("#TblUserPass").DataTable({
                        "order": [], // Disable default sorting
                        "columnDefs": [
                            { "targets": 0, "searchable": true, "orderable": false } // Disable sorting for the first column (scholar number)
                        ],
                        "dom": '<"d-flex justify-content-between align-items-center"lBf>rtip',
                        "buttons": [

                            {
                                extend: 'excelHtml5',
                                text: 'Excel',
                                className: 'btn btn-info',
                                exportOptions: {
                                    columns: ':visible', // Export only visible columns
                                    modifier: {
                                        search: 'applied' // Export only filtered data
                                    }
                                }
                            },

                            {
                                extend: 'pdfHtml5',
                                text: 'PDF',
                                className: 'btn btn-warning',
                                exportOptions: {
                                    columns: ':visible',
                                    modifier: {
                                        search: 'applied' // Export only filtered data
                                    }
                                }
                            }
                        ]
                    });

                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }

    });


    //var modal = document.getElementById("myModal");
    //var id = 0;
    //$(".changepass").on('click', function () {
    //    id = this.id;
    //    modal.style.display = "block";
    //})
    //$(".close").on('click', function () {
    //    modal.style.display = "none";
    //})
    //$('#changepassword').on('click', function () {
    //    var OldPassword = $('#OldPassword').val();
    //    var password = $('#enterpassword').val();
    //    var cnfmPassword = $('#confirmpassword').val();
    //    if ((password != "" && cnfmPassword != "") && (password != null && cnfmPassword != null) && (password != cnfmPassword)) {
    //        alert("Please Enter Correct Password and Confirm Password");
    //    }
    //    else {
    //        var html = "";
    //        $.ajax({
    //            // url: "/SMSandEmail/ChangePassword",
    //            url:"/Account/ChangeUserPassword",
    //            //  data: { id: id, password: password },
    //            data: { oldpass: OldPassword, newpass: password, Confirmnewpass: cnfmPassword, studentid:id },
    //            type: "GET",
    //            dataType: "json",
    //            contentType: "application/json;charset=utf-8",
    //            success: function (result) {
    //                console.log(result);
    //                window.location.reload();
    //            },
    //            error: function (errormessage) {
    //                console.log(result);
    //                alert(errormessage.responseText);
    //            }
    //        });
    //    }
    //})


    //$('.changepassword').on('click', function () {
    //    debugger
    //    var A = $(this).attr('id');
    //    console.log(A)
    //    sessionStorage.setItem('studentidclicked', $(this).attr('id'));
    //    console.log(sessionStorage.getItem('studentidclicked'))
    //    //$('#staffIdmodel').val($(this).attr('id'));
    //})

</script>