@model IEnumerable<SchoolManagement.Data.Models.Subjects>
@{
    ViewBag.Title = "AddSubjectSetup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- page content -->
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="dashboard_graph">
                <div class="row x_title">
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <h4> Subjects Setup  &nbsp;<i class="fa fa-forward"></i></h4>
                        </div>
                    </div><!-- col-sm-12 closed -->
                </div><!--row x_title closed -->
            </div><!-- dashboard_graph closed-->
        </div><!--col-msx-12 closed-->
        <div class="col-sm-12" style="margin-top: 15px;">
            <h4 class="std_head well-sm">Subjects Setup </h4>
            <div class="col-sm-3"></div>
            <form method="post" action="/MastersSetup/AddSubjectSetup" id="AddSubjectSetup" enctype="multipart/form-data">
                <div class="col-sm-7">
                    <div class="form-group">
                        <label class="control-label col-sm-4">Add Teacher :</label>
                        <div class="col-sm-6">
                            <input type="hidden" id="Id" name="Id" class="form-control">
                            <select class="form-control" id="Teacher" name="Teacher">
                                @foreach (var item in @ViewBag.allStaf)
                                {

                                    <option value="@item.Name">@item.Name</option>

                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group" style="margin-top:40px;">
                        <label class="control-label col-sm-4">Select Class :</label>
                        <div class="col-sm-6">
                            <input type="hidden" id="Id" name="Id" class="form-control" />
                            @Html.DropDownList("Class", new SelectList(ViewBag.Class, "DataListItemName", "DataListItemName"), "select", new { @id = "Class", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group" style="margin-top:60px;">
                        <label class="control-label col-sm-4">Select Subject :</label>
                        <br />
                        <div class="col-sm-6">
                            @Html.DropDownList("Subject", new SelectList(ViewBag.Subject, "DataListItemName", "DataListItemName"), "select", new { @id = "Subject", @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-sm-8" style="margin-top:20px;">
                        <button type="submit" class="btn btn-success pull-right" value="Submit Form" id="btnsave">Save</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 table-responsive border-bottom">
            <!-- col-msx-12 started -->
            <table class="table table-bordered" id="tblsubject" style="margin-top:5px;">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Teacher</th>
                        <th>Class</th>
                        <th>Subject</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int i = 1; }
                    @foreach (var item in ViewBag.AddSubjectSetup as IEnumerable<SchoolManagement.Data.Models.Subjects>)
                    {
                    <tr>
                        <td>@i</td>
                        <td>@item.Teacher</td>
                        <td>@item.Class</td>
                        <td>@item.Subject</td>

                        <td><button class="btn btn-success btn-sm EditBtn" data-val="@item.Id" role="button">Edit</button> <button id="@item.Id" class="btn btn-danger btn-sm deleteBtn" data-val="@item.Id" role="button">Delete</button></td>
                    </tr>
                        i++;
                    }

                </tbody>
            </table>
        </div>
    </div><!-- 1st row closed -->
</div>  <!-- /page content -->
@section scripts{
    <script type="text/javascript">
        $('#tblsubject').DataTable();
    </script>

    <script type="text/javascript">

        $(".EditBtn").on('click', function () {
            var Id = $(this).attr("data-val");
            GetSubjectById(Id);

        });
        function GetSubjectById(Id) {
            $.ajax({
                url: "/MastersSetup/GetSubjectById?id=" + Id,
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    
                    $('#AddSubjectSetup').attr('action', '/MastersSetup/UpdateSubject');
                    $("#btnsave").val("Update");
                    if (result != null) {
                        $("#Id").val(result.Id);
                        $('#Class option[value="' + result.Class + '"]').attr("selected", "selected");
                        $('#Class').val(result.Class).change();

                        $('#Teacher option[value="' + result.Teacher + '"]').attr("selected", "selected");
                        $('#Teacher').val(result.Teacher).change();

                        $('#Subject option[value="' + result.Subject + '"]').attr("selected", "selected");
                        $('#Subject').val(result.Subject).change();
                    }
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
        $(".deleteBtn").on('click', function () {
            var dataListId = $(this).attr("data-val");
            $.ajax({
                url: "/MastersSetup/DeleteSubject?id=" + dataListId,
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    
                    alert(result);
                    window.location.reload();
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        });
    </script>
}
