
@{
    ViewBag.Title = "StudentRegistrationGeneration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#Studenttbl').DataTable();
    });
</script>
<div class="right_col" role="main">
    <div class="row">
        <!-- row started -->
        <div class="col-md-12 col-sm-12 col-xs-12">
            <!-- col-msx-12 started -->
            <div class="dashboard_graph">
                <div class="row x_title">
                    <!--row x_title started -->
                    <div class="col-sm-12">
                        <!-- col-sm-12 started -->
                        <div class="col-sm-6">
                            <h4>Configure Student Regstration  &nbsp;<i class="fa fa-forward"></i></h4>
                        </div>
                        <div class="col-sm-6" style="display:none;">
                            <button class="btn btn-info pull-right"><a href="sis_manage_student.html" class="button_a">Manage</a></button>
                            <button class="btn btn-danger pull-right"><a href="sis_add_new_student.html" class="button_a">Add New</a></button>
                        </div>
                    </div><!--row x_title closed -->

                </div><!-- dashboard_graph closed-->
            </div><!--col-msx-12 closed-->
        </div>
        <div class="col-sm-12">
            <!-- col-sm-12 started -->
            <h4 class="std_head well-sm">Configure Student Regstration</h4>
            <div class="col-sm-6" style="border-right: 1px solid #eee;">
                <div class="form-group">
                    <label>Select Class :</label>
                    @*<input type="text" id="FeeValue" class="form-control">
                    @Html.DropDownList("Class", new SelectList(ViewBag.Classes, "DataListItemName", "DataListItemName"), "select", new { @id = "Class", @class = "form-control" })*@
                    <select class="form-control" id="Class_id">
                        <option>---Select Class---</option>
                        @foreach(var item in ViewBag.Classes as IEnumerable<SchoolManagement.Data.Models.Tbl_DataListItem>)
                        {
                            <option value="@item.DataListItemId">@item.DataListItemName</option>
                        }
                    </select>
                    <input type="text" id="Class_name" style="display:none"/>
                </div>
            </div><!-- col-sm-6 closed -->
            @*<div class="col-sm-6">
                <div class="form-group">
                    <label>Select Batch :</label>
                    <input type="text" id="FeeValue" class="form-control">
                    @Html.DropDownList("Batches", new SelectList(ViewBag.BatcheNames, "DataListItemName", "DataListItemName"), "select", new { @id = "Batches", @class = "form-control" })
                </div>
            </div>*@<!-- col-sm-6 closed -->
        </div>

        <div class="col-sm-12" style="border-bottom: 2px solid #b4b4b4;">
            <button id="btnSubmit" class="btn btn-success pull-right">Search</button>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 table-responsive border-bottom">
            <!-- col-msx-12 started -->
            <div id="loadStudent">
                <table class="table table-bordered" id="Studenttbl" style="margin-top:5px;">
                    <thead id="stdnttblhead">
                        <tr>
                            <th>S.No</th>
                            @*<th>Batch</th>*@
                            <th>Class</th>
                            <th>Reg Length</th>
                            <th>Reg Generate Status</th>
                            <th>Start Reg Number</th>
                            <th>Last Reg Number</th>
                            <th>Action</th>
                            @*<th>Action</th>*@
                        </tr>
                    </thead>
                    <tbody id="stdnttblbody">
                        @{ int i = 1;}
                        @foreach (var item in ViewBag.StudentReg as IEnumerable<SchoolManagement.Website.ViewModels.StudentRegMasterModel>)
                        {
                            <tr>
                                <td>@i</td>
                               @* <td>@item.BatchName</td>*@
                                <td>@item.Class</td>
                                <td>@item.RegLength</td>
                                <td>@item.RegStatus</td>
                                <td>@item.StartRegNumber</td>
                                <td>@item.LastRegNumber</td>
                                <td class="row-data"><input type="button" value="Generate" class="btn-success" id="btnGenerate" /> </td>
                            </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </div>
        </div><!-- col-msx-12  closed -->
    </div>
</div>
@section scripts{
    <script>
        $("#btnSubmit").on("click", function () {
            var StudentRegMasterModel = {};

            //StudentRegMasterModel.BatchName = $("#Batches option:selected").val();
            StudentRegMasterModel.Class = $("#Class_id").val();

            //if (StudentRegMasterModel.BatchName == '') {
            //    alert("Please Select Any Batch Name");
            //    return false;
            //}
            if (StudentRegMasterModel.Class == '') {
                alert("Please Select Any Class Name");
                return false;
            }
            $.ajax({
                url: '/StudentAdmission/StudentRegistrationGeneration',
                dataType: "json",
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(StudentRegMasterModel),
                async: true,
                processData: false,
                cache: false,
                success: function (data) {
                    //  window.location.reload();
                    var stdnttbl = document.getElementById('loadStudent');
                    html = '';
                    var cnt = 1;
                    html = '<table class="table table-bordered"" style="width:100% " id="Studenttbl">';
                    html = html + '<thead id="stdnttblhead"><tr><th>S.No</th><th>Batch</th><th>Class</th><th>Reg Length</th><th>Reg Generate Status</th><th>Start Reg Number</th><th>Last Reg Number</th><th>Action</th></tr></thead>';
                    html = html + '<tbody id="stdnttblbody">';
                    for (var i = 0; i < data.length; i++) {
                        html += '<tr>';
                        html += '<td>' + i + 1 + '</td>';
                        //html += '<td>' + data[i].BatchName + '</td>';
                        html += '<td>' + data[i].Class + '</td>';
                        html += '<td>' + data[i].RegLength + '</td>';
                        html += '<td>' + data[i].RegStatus + '</td>';
                        html += '<td>' + data[i].StartRegNumber + '</td>'; //' + data[i].Course + '
                        html += '<td>' + data[i].LastRegNumber + '</td>'; //' + data[i].PaymentStatus + '
                        html += '<td class="row-data"><input type="button" value="Generate" class="btn-success" id="btnGenerate" /> </td>';
                        html += '</tr>';
                        cnt++;
                    }
                    html += '</tbody></html>'
                    stdnttbl.innerHTML = html;
                    $('#Studenttbl').DataTable();
                },
                error: function (xhr) {
                }
            });
        });


        var objStudentAdmissionModel = {}
        $(".btn-success").click(function () {

            var $item = $(this).closest("tr");   // Finds the closest row <tr>
            var $tds = $item.find("td");

            //var Batch = $tds[1].outerText;
            var Class = $tds[1].outerText;
            var Status = $tds[3].outerText;
            var StartRegNumber = $tds[4].outerText;
            if (Status != "" && Status != "Generated") {

                //objStudentAdmissionModel.BatchName = Batch;
                objStudentAdmissionModel.Class = Class;
                objStudentAdmissionModel.StartRegNumber = StartRegNumber;

                $.ajax({
                    url: "/StudentAdmission/StudentRegistrationProcess",
                    //  url: '/Fee/AddFeeReceipt1',
                    dataType: "json",
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(objStudentAdmissionModel),
                    async: true,
                    processData: false,
                    cache: false,
                    success: function (data) {
                        alert("Generated Successfully");
                    },
                    error: function (xhr) {
                        alert("Not Updated");
                    }
                });
            }
            else {
                alert("Already Registered Number Generated Selected Batch and Class");
            }

        });
    </script>
}

