@model IEnumerable<SchoolManagement.Website.Models.Master.DataListItemModel>
@{
    ViewBag.Title = "Data  List Items";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="right_col" role="main">
    <div class="row">
        <div class="col-sm-12">
            <h4 class="std_head well-sm">Data List</h4>
            <form action="/Master/AddDataListitem" method="post" id="dataListform">
                <div class="col-sm-12" style="border-right: 1px solid #eee;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Data List :</label>
                            <input type="hidden" id="DataListItemId" name="DataListItemId" class="form-control" />
                            @Html.DropDownList("DataListId", ViewBag.DataList as SelectList, new { @Id = "DataListId", @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>Status</label>
                            <select class="form-control" id="status" name="Status">
                                <option value="0">--select---</option>
                                <option value="Active">Active</option>
                                <option value="InActive">InActive</option>
                            </select>
                        </div>
                        
                        
                       

                    </div>
                    <div class="col-sm-6">
                        @* DataListName*@
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Data List Name:</label>
                                <input type="text" id="DataListName" name="DataListName" class="form-control" required /><br />
                            </div>
                            @*<div class="form-group" id="IsElectiveView" style="display: none;">
                                <label>Is Elective Subject:</label>
                                <input id="IsElective" type="checkbox" value="true" name="IsElective" />
                                <input type="hidden" value="false" name="IsElective" />
                                
                            </div>*@
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Data List item:</label>
                                <input type="text" id="DataListItemName" name="DataListItemName" class="form-control" required /><br />
                                @{
                                    var data = ViewBag.Permission;
                                    if (data != null)
                                    {
                                        if (data == "true")
                                        {
                                            <input id="btnSubmit" class="btn btn-success form-control" type="submit" value="Save" />
                                        }
                                    }
                                }
                            </div>
                        </div>
                        </div>
                    </div><!-- col-sm-6 closed -->
            </form>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 table-responsive border-bottom">
            <!-- col-msx-12 started -->
            <table class="table table-bordered" id="TblDataList" style="margin-top:5px;">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Data List</th>
                        <th>Data List Item</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                        @{ int i = 1;}
                        @foreach (var item in Model as IEnumerable<SchoolManagement.Website.Models.Master.DataListItemModel>)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@item.DataListName</td>
                                <td>@item.DataListItemName</td>
                                <td>@item.Status</td>
                                <td class="row-data">
                                    @{
                                        if (item.Editpermission == "true")
                                        {
                                            <button id="@item.DataListItemId" class="btn btn-success btn-sm EditBtn" data-val="@item.DataListItemId&routingid=1" role="button">Edit</button>
                                            @*<a href="/Master/UpdateDataListitem?Id=@item.DataListItemId&routingid=1">Edit</a>*@

                                            @*<a href="/Master/UpdateDataListitem?Id=@item.DataListItemId&routingid=3">Edit</a> //&routingid=3*@
                                        }

                                        @*<button id="@item.DataListItemId" class="btn btn-danger btn-sm deleteBtn" data-val="@item.DataListItemId" role="button">Delete</button>*@
                                        @*<a href="/Master/DeleteDataListItem?Id=@item.DataListItemId">Delete</a>*@

                                    }
                                </td>
                            </tr>
                            i++;
                        }
                    </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $('#TblDataList').DataTable();
    </script>
    <script type="text/javascript">
        //update records
        //$(".EditBtn").on('click', function () {
           
        //    var dataListId = $(this).attr("data-val");
        //    console.log("dataListId", dataListId);
        //    GetDataListItemById(dataListId);
        //});
        $(document).on('click', '.EditBtn', function () {
            var dataListId = $(this).attr("data-val");
            console.log("dataListId", dataListId);
            GetDataListItemById(dataListId);
        });

        function GetDataListItemById(dataListId)
        {
            
            $.ajax({
                url: "/Master/GetDataItem1ById?id=" + dataListId,
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    //
                    $('#dataListform').attr('action', '/Master/UpdateDataListitem');
                    $("#btnSubmit").val("Update");
                    if (result != null) {
                        $("#DataListItemId").val(result.DataListItemId);
                        $("#DataListName").val(result.DataListName);

                        $('#DataListId option[value="' + result.DataListId + '"]').attr("selected", "selected");
                        $('#DataListId').val(result.DataListId).change();
                       
                        $("#DataListItemName").val(result.DataListItemName);
                        $("#status").val(result.Status);
                        //if (result.IsElective) {
                        //    $("#IsElective").prop("checked", true); // Check the checkbox
                        //} 
                       // $("#IsElective").val(result.IsElective);
                    }
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
       
        $(".deleteBtn").on('click', function () {
            var dataListId = $(this).attr("data-val");
            $.ajax({
                url: "/Master/DeleteDataList?id=" + dataListId,
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                  
                    alert(result);
                    window.location.reload();
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });

        });


        //$(document).ready(function () {
        //    $("#DataListId").change(function () {
        //        var selectedValue = $(this).val();
        //        if (selectedValue === "24") {
        //            $("#IsElectiveView").show();
        //        } else {
        //            $("#IsElectiveView").hide();
        //        }
        //    });
        //});
    </script>
}