@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
        border-bottom-width: 2px;
        color: #E9837F;
        background-color: #ffffff;
    }
</style>





<div class="right_col" role="main">
    <div class="row">
        <!-- row started -->
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="dashboard_graph">
                <div class="row x_title">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <h5 class="sis_heading">Previous <i class="glyphicon glyphicon-triangle-left"></i> Date : <span> 15 june 2015 </span> <i class="glyphicon glyphicon-triangle-right"></i> Next Day </h5>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12" style="margin:7px 0px;">
                        <!-- <h4><button type="button" class="form_datetime btn btn-info pull-right" id="datetimepicker" data-date="12-02-2012" data-date-format="dd-mm-yyyy"> Select Day </button></h4>-->
                        Select Day : <input type="text" id="DateId" value="@DateTime.Now.ToString("dd-MM-yyyy")" style="width:90px;" class=" datepicker">


                    </div>
                    @{
                        if (ViewBag.sessionlist == "Student")
                        {
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <button class="btn btn-info pull-right" style="display:none"><a href="/Master/SetTimeTable" class="button_a">Set Time Table </a></button>
                                <button class="btn btn-danger pull-right" style="display:none"><a href="/Master/ManageTimeTable" class="button_a">Manage Time Table</a></button>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <button class="btn btn-info pull-right" ><a href="/Master/SetTimeTable" class="button_a">Set Time Table </a></button>
                                <button class="btn btn-danger pull-right" ><a href="/Master/ManageTimeTable" class="button_a">Manage Time Table</a></button>
                            </div>
                        }
                    }

                    <div class="col-sm-12" style="margin-top: 15px;">
                        <div class="col-sm-4">

                            <div class="form-group">
                                <label class="control-label col-sm-6">Select Class :</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="Class_Id" name="Class_Id">
                                        <option value="0">---Select Class---</option>
                                        @{
                                            foreach (var item1 in ViewBag.Classes as IEnumerable<SchoolManagement.Website.Models.Tbl_Class>)
                                            {
                                                <option value="@item1.Class_Id">@item1.Class_Name</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div><!--col-md-6 closed -->
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label col-sm-7">Select Section :</label>
                                <div class="col-sm-5">
                                    <select class="form-control" id="Section_Id" name="Section_Id">
                                        <option value="0">---Select Section---</option>
                                        @{
                                            foreach (var item2 in ViewBag.Section as IEnumerable<SchoolManagement.Website.Models.Tbl_SectionSetup>)
                                            {
                                                <option value="@item2.Section_Id">@item2.Section</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div><!--col-md-6 closed -->
                        <div class="col-sm-4">
                            <div class="form-group">
                                <button type="button" class="btn btn-success" id="BtnTimePeriod">Show TimePeriod</button>
                            </div>
                        </div>
                    </div><!--col-md-7 closed -->
                </div><!-- row x_title closed-->
            </div><!-- dashboard_graph closed-->
        </div><!--col-md-12 closed -->

        <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
            <!-- col-msx-12 started -->
            <table class="table table-bordered">
                <thead id="TableHead">
                    <tr>
                        <th class="head_color">Day</th>
                        @{
                            foreach (var item in ViewBag.Timeperiod as IEnumerable<SchoolManagement.Website.Models.Tbl_SetTime>)
                            {
                                <th class="head_color">@item.Time</th>
                            }
                        }
                    </tr>
                </thead>
                <tbody id="DynamicBody">
                    @*@{
                        foreach (var items in ViewBag.WeekDays as IEnumerable<SchoolManagement.Website.Models.Tbl_WeekDays>)
                        {
                            <tr>

                                <td class="week_color">@items.Week_day</td>
                                @{
                                    foreach (var item in ViewBag.TimeTableList as IEnumerable<SchoolManagement.Website.Controllers.ViewTimeTableViewModel>)
                                    {
                                        var id = items.Day_Id;
                                        var id1 = item.Time_Id;
                                        var day = id + "" + id1;
                                        if(item.Day_Time_Id.ToString() == day)
                                        {
                                            <td class="subject_bgclr_emty">@item.Subject_Name</td>
                                        }
                                        else
                                        {
                                            <td class="subject_bgclr_emty">No Records</td>
                                        }


                                    }
                                }

                            </tr>
                        }
                    }*@

                </tbody>
            </table>
        </div><!-- col-sm-12 closed -->
    </div><!-- 1st row closed -->
</div>


@section scripts{
    <script src="~/Scripts/WebsiteJs/js/jquery.min.js"></script>

    <script>
        $("#BtnTimePeriod").on('click', function () {
            var classid = $("#Class_Id").val();
            var sectionid = $("#Section_Id").val();
            var DateId = $("#DateId").val();

            if (classid == 0 || sectionid == 0 || DateId == null)
            {
                alert("Please Select the Fields");
            }
            else
            {
                $.ajax
                    ({
                        url: "/Master/TimeTableView",
                        data: { classid: classid, sectionid: sectionid, DateId: DateId },
                        type: "GET",
                        dataType: "json",
                        contentType: "application/json;charset=utf-8",
                        success: function (result) {
                            
                            $("#DynamicBody").empty();
                            $("#DynamicBody").append(result);
                            //var i;
                            //alert(result[1].Week_day);
                            //$.each(result, function (index,item) {
                            //    var row = "<tr><th class='head_color'>" + item.Week_day + "</th></tr>";
                            //    //$("#TableHead").append("<tr><th class='head_color'>" + item.Time + "</th></tr>");
                            //});
                            //if (result[i] != null) {
                            //    result[i].forEach(function (data) {

                            //        var row = "<tr><th class='head_color'>" + data[i].Time + "</th></tr>";
                            //        $("#TableHead").append(row);

                            //    });
                            //}
                        }
                    });
               
            }
        });
    </script>

}