
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @*<meta name="viewport" content="width=device-width" />
        <title>Portal</title>*@
    <link href="~/Content/WebsiteCss/css/custom.css" rel="stylesheet">
    <link href="~/Content/WebsiteCss/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/DatePicker2/css/jquery.datepick.css" rel="stylesheet" />

    <style>
        .myAlert-bottom {
            position: fixed;
            bottom: 5px;
            left: 2%;
            width: 96%;
        }

        div.fullscreen {
            position: absolute;
            width: 100%;
            height: 960px;
            top: 0;
            left: 0;
            background-color: lightblue;
        }

        .alert {
            display: none;
        }
        .org-titlebar {
            background-image: linear-gradient(to left,#48bbef,#00bcd4) !important;
            color: white;
        }
    </style>
</head>
<body>
    <div>
        <div class="navbar navbar-fixed-top navbar-default org-titlebar" style="min-height:75px">
            <div class="container">
                <h3 style="padding-left:150px">
                    @if (!string.IsNullOrWhiteSpace(ViewBag.ActiveBatch))
                    {
                        @Session["SchoolName"]
                        <small style="font-size:60%">Admissions open for the year @ViewBag.ActiveBatch</small>
                    }
                    else
                    {
                        @Session["SchoolName"]
                        <small style="font-size:60%">Admissions are closed</small>
                    }

                    @*<small style="float:right;  margin-top:8px">Date: @ViewBag.Studentdetails.AddedDate</small>
        <span class="pull-right" style="float:right; padding-right:0px">Hi @ViewBag.Name!</span>*@
                </h3>
            </div>
        </div>
        <div class="right_col" role="main" style="margin: 20px 20px">
            <div class="row">
                <!-- row started -->
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <!-- col-msx-12 started -->
                    @*<div class="dashboard_graph">
                            <div class="row x_title">
                                <div class="col-sm-12">
                                    <div class="col-sm-6">
                                        <h4 id="HeadingText"> Add New Student  &nbsp;<i class="fa fa-forward"></i></h4>
                                    </div>
                                    <div class="col-sm-6">

                                    </div>
                                </div>
                            </div>
                        </div>*@<!-- dashboard_graph closed-->
                    @*<ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#add" class="sis_tab_a">Student Details</a></li>
                            <li><a data-toggle="tab" href="#add1" class="sis_tab_a click" id="familydetaillink">FamilyDetails</a></li>
                            <li><a data-toggle="tab" href="#add2" class="sis_tab_a click_1" id="guardiandetaillink">Guardian Details</a></li>
                            <li><a data-toggle="tab" href="#add3" class="sis_tab_a click_2" id="additionallink">Additional Info</a></li>
                            <li><a data-toggle="tab" href="#add4" class="sis_tab_a click_3" id="pastschoollink">Past Schooling Record</a></li>
                        </ul>*@
                    <form method="post" @*action="/Student/AddStudentDetails"*@ id="Studentform" enctype="multipart/form-data" style="margin-top:50px;">
                        <div class="tab-content tab_sis">
                            <div id="add" class="tab-pane fade in active">
                                <div class="row">
                                    <!-- col-sm-12 started -->
                                    <div class="col-sm-12">

                                    </div><!-- col-sm-12 closed -->
                                    <div class="col-sm-12" style="border-top: 1px solid #E6E9ED;">
                                        <!-- col-sm-12 started -->
                                        <h4 class="std_head well-sm"> Student Details</h4>
                                        <div class="col-sm-6" style="border-right: 1px solid #eee;">
                                            <!-- col-sm-6 started -->

                                            <div class="form-group">
                                                <label>Name (as per birthcertificate) :<span style="color:red">*</span> </label>
                                                <input type="text" name="StudentRegistration.Name" id="SName" required class="form-control" style="border-color:red">

                                                <input type="hidden" name="StudentRegistration.StudentRegisterID" id="StudentId">
                                            </div>
                                            <div class="form-group">
                                                <label>LastName (as per birthcertificate):<span style="color:red">*</span></label>
                                                <input type="text" name="StudentRegistration.Last_Name" id="Lname" required class="form-control" style="border-color:red" />
                                            </div>
                                            <div class="form-group">
                                                <label>Parent Email: <span style="color:red">*</span></label>
                                                <input type="email" id="parentemail" name="StudentRegistration.Parents_Email" class="form-control" style="border-color:red">
                                            </div>
                                            <div class="form-group">
                                                <label>Class : <span style="color:red">*</span></label>
                                                @*@Html.DropDownList("Student.Class", ViewBag.Classes as SelectList, "Select", new { @class = "form-control" })*@
                                                @*@Html.DropDownList("StudentRegistration.Class", new SelectList(ViewBag.Class, "DataListItemName", "DataListItemName"), "select", new { @id = "Class", @class = "form-control" })*@
                                                <select class="form-control" id="Class_Id" name="StudentRegistration.Class_Id" style="border-color:red">
                                                    <option>---Select Class---</option>
                                                    @foreach (var item in ViewBag.Class as IEnumerable<SchoolManagement.Data.Models.Tbl_DataListItem>)
                                                    {
                                                        <option value="@item.DataListItemId">@item.DataListItemName</option>
                                                    }
                                                </select>
                                                @*<input type="text" id="Class" name="StudentRegistration.Class" style="display:none" />*@
                                                <input type="text" id="Class_Name" name="StudentRegistration.Class_Name" style="display:none" />

                                            </div>

                                            @*<div class="form-group">
                                                <label>Section:</label>
                                                <select class="form-control" id="Sectionid" name="StudentRegistration.Section_Id">
                                                    <option value="0">---Select Section---</option>
                                                    @{ 
                                                        foreach(var item in ViewBag.Section as IEnumerable<SchoolManagement.Data.Models.Tbl_DataListItem>)
                                                        {
                                                            <option value="@item.DataListItemId">@item.DataListItemName</option>
                                                        }
                                                    }
                                                </select>
                                            </div>*@
                                            <div class="form-group">
                                                <label>Community : </label>
                                                <br />
                                                <select class="form-control" id="Category_Id" name="StudentRegistration.Category_Id">
                                                    <option>---Select Community---</option>
                                                    @foreach (var itme in ViewBag.Category as IEnumerable<SchoolManagement.Data.Models.Tbl_DataListItem>)
                                                    {
                                                        <option value="@itme.DataListItemId">@itme.DataListItemName</option>
                                                    }
                                                </select>
                                                <input type="text" id="Category" name="StudentRegistration.Category" style="display:none" />
                                            </div>
                                            <div class="form-group">
                                                <label>Place of Birth : </label>
                                                <input type="text" name="StudentRegistration.POB" id="POB" class="form-control">
                                            </div>


                                            <div class="form-group">
                                                <label>Mother tongue  : </label>
                                                <input type="text" name="StudentRegistration.MotherTongue" id="MotherTongue" class="form-control">
                                            </div>
                                            <div class="form-group" style="display:none">
                                                <label>Medium  : </label>
                                                @Html.DropDownList("StudentRegistration.Medium", new SelectList(ViewBag.Medium, "DataListItemName", "DataListItemName"), "select", new { @id = "Medium", @class = "form-control" })

                                            </div>
                                            <div class="form-group">
                                                <label>Student Photo</label>

                                                <input type="file" id="File" name="ProfileAvatar" style="margin-bottom:20px;" accept=".jpg,.png" />
                                                <label type="text" id="FileLbl" name="ProfileAvatar"></label>
                                            </div>



                                        </div><!-- col-sm-6 closed -->
                                        <div class="col-sm-6">
                                            <!-- col-sm-6 started -->

                                            <div class="form-group">
                                                <label>Date of Birth (as per birthcertificate) : <span style="color:red">*</span></label>
                                                <input type="text" name="StudentRegistration.DOB" id="DOB" class="form-control datepicker" readonly style="border-color:red" />
                                            </div>
                                            <div class="form-group" style="display:none">
                                                <label>Caste  : </label>

                                                <select class="form-control" id="Cast_Id" name="StudentRegistration.Cast_Id">
                                                    <option>---select Cast---</option>
                                                    @foreach (var item in ViewBag.Caste as IEnumerable<SchoolManagement.Data.Models.Tbl_DataListItem>)
                                                    {
                                                        <option value="@item.DataListItemId">@item.DataListItemName</option>
                                                    }
                                                </select>
                                                <input type="text" id="Caste" name="StudentRegistration.Caste" style="display:none" />
                                            </div>

                                            <div class="form-group">
                                                <label>Blood Group  :<span style="color:red">*</span> </label>

                                                <select class="form-control" id="BloodGroup_Id" name="StudentRegistration.BloodGroup_Id" >
                                                    <option>---select Bloodgroup---</option>
                                                    @foreach (var item in ViewBag.BloodGroup as IEnumerable<SchoolManagement.Data.Models.Tbl_DataListItem>)
                                                    {
                                                        <option value="@item.DataListItemId">@item.DataListItemName</option>
                                                    }
                                                </select>
                                                <input type="text" id="BloodGroup" name="StudentRegistration.BloodGroup" style="display:none" />
                                            </div>
                                            <div class="form-group">
                                                <label>Religion  : </label>

                                                <select class="form-control" id="Religion_Id" name="StudentRegistration.Religion_Id">
                                                    <option>---Select Religion---</option>
                                                    @foreach (var item in ViewBag.Religion as IEnumerable<SchoolManagement.Data.Models.Tbl_DataListItem>)
                                                    {
                                                        <option value="@item.DataListItemId">@item.DataListItemName</option>
                                                    }
                                                </select>
                                                <input type="text" id="Religion" name="StudentRegistration.Religion" style="display:none" />
                                            </div>
                                            <div class="form-group">
                                                <label>Nationality  : <span style="color:red">*</span></label>
                                                <input type="text" name="StudentRegistration.Nationality" id="Nationality" class="form-control" style="border-color:red">
                                            </div>
                                            <div class="form-group">
                                                <label>Adhar No.  : </label>
                                                <input name="StudentRegistration.AdharNo" type="text" id="AdharNo" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>Adhar Document.  : </label>
                                                <input type="file" name="AdharFile" style="padding:0px;" class="form-control" accept=".jpg,.png,.jpeg,.doc">
                                                <label type="text" id="Adhardocs" name="AdharFile"></label>
                                            </div>
                                            <div class="form-group" style="display:none">
                                                <label>Hobbies  : </label>
                                                <input type="text" name="StudentRegistration.Hobbies" id="Hobbies" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>Gender:</label>
                                                <label class="radio-inline"><input id="Gender1" name="StudentRegistration.Gender" type="radio" value="Male" checked>Male</label>
                                                <label class="radio-inline"><input id="Gender2" type="radio" name="StudentRegistration.Gender" value="Female">Female</label>
                                            </div>

                                            <div class="form-group" style="display:none">
                                                <label>Any other Languages  : </label>
                                                <input type="text" name="StudentRegistration.OtherLanguages" id="OtherLanguages" class="form-control">
                                            </div>
                                            <div class="form-group" style="display:none">
                                                <label>Personal Marks of Identification  : </label>
                                                <input type="text" name="StudentRegistration.MarkForIdentity" id="MarkForIdentity" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>Transport Facility: Yes / No <span style="color:red">*</span></label>
                                                <select class="form-control" id="TransportFacility" name="AdditionalInformation.TransportFacility" style="border-color:red">
                                                    <option value="0">---select option---</option>
                                                    <option value="yes">Yes</option>
                                                    <option value="no">No</option>
                                                </select>
                                                @*<input type="text" name="AdditionalInformation.TransportFacility" id="TransportFacility" class="form-control">*@
                                            </div>

                                            <div class="form-group" id="transportavailability" style="display:none;">
                                                <label>Transport Option: <span style="color:red">*</span></label>
                                                <select class="form-control" id="selecttransportoption" name="AdditionalInformation.TransportOptions" style="border-color:red">
                                                    <option value="NA">---select option---</option>
                                                    <option value="Pickup">Pickup</option>
                                                    <option value="Drop">Drop</option>
                                                    <option value="Both">Both</option>
                                                </select>

                                            </div>
                                            @*<button type="button" class="button_a  btn btn-success pull-right" id="btnverify">Next</button>*@
                                            @*<a data-toggle="tab" href="#add1" class="button_a outsidestudentlink btn btn-success pull-right">Next</a>*@
                                        </div><!-- col-sm-6 closed -->
                                    </div><!-- col-sm-12 closed -->
                                </div><!-- row closed -->

                                <div class="row">
                                    <!-- col-sm-12 started -->
                                    <div class="col-sm-12" style="border-bottom: 1px solid #E6E9ED;">
                                        <!-- col-sm-12 started -->
                                        <h4 class="std_head well-sm"> Family Details</h4>

                                        <div class="col-sm-6" style="border-right: 1px solid #eee;">
                                            <!-- col-sm-6 started -->
                                            <h5 style="color: #1ABB9C;">Father's Details </h5>
                                            <div class="form-group">
                                                <label>Father’s Name : <span style="color:red">*</span></label>
                                                <input type="text" name="FamilyDetail.FatherName" id="FatherName" class="form-control" style="border-color:red">
                                            </div>
                                            <div class="form-group">
                                                <label>E Mail  : <span style="color:red">*</span></label>
                                                <input type="email" name="FamilyDetail.FEMail" id="FEMail" class="form-control" style="border-color:red">
                                            </div>
                                            <div class="form-group">
                                                <label>Occupation : <span style="color:red">*</span></label>
                                                <input type="text" name="FamilyDetail.FOccupation" id="FOccupation" class="form-control" style="border-color:red">
                                            </div>
                                            <div class="form-group">
                                                <label>Mobile  : <span style="color:red">*</span></label>
                                                <input type="text" name="FamilyDetail.FMobile" id="FMobile" class="form-control" style="border-color:red">
                                            </div>
                                            <div class="form-group">
                                                <label>Phone : </label>
                                                <input type="text" name="FamilyDetail.FPhone" id="FPhone" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>Qualifications :</label>
                                                <input type="text" name="FamilyDetail.FQualifications" id="FQualifications" class="form-control">
                                            </div>

                                            <div class="form-group" style="display:none">
                                                <label>Organization :</label>
                                                <input type="text" name="FamilyDetail.FOrganization" id="FOrganization" class="form-control">
                                            </div>



                                            <div class="form-group">
                                                <label>Annual Income </label>
                                                <input type="text" name="FamilyDetail.FAnnualIncome" id="FAnnualIncome" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>No.Of Brothers </label>
                                                <input type="text" name="FamilyDetail.NoOfBrothers" id="NoOfBrothers" class="form-control">
                                            </div>
                                           
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <label>Sibling:</label>
                                                    <input type="text" class="form-control" id="Student_name" placeholder="StudentName" name="Student_name"/>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label>Select:</label>
                                                    <select class="form-control" id="Confirmation" name="Confirmation">
                                                        <option value="0">--select--</option>
                                                        <option value="yes">Yes</option>
                                                        <option value="no">No</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label>Class:</label>
                                                    <select class="form-control" id="Class_id" name="Class_id">
                                                        <option value="0">---Select Class---</option>
                                                        @foreach (var item in ViewBag.Class as IEnumerable<SchoolManagement.Data.Models.Tbl_DataListItem>)
                                                        {
                                                            <option value="@item.DataListItemId">@item.DataListItemName</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row" id="divSibling_1" style="display:none">
                                                <div class="col-sm-4">
                                                    <label>Sibling:</label>
                                                    <input type="text" class="form-control" id="Sibiling1" placeholder="StudentName" name="Student_name"/>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label>Select:</label>
                                                    <select class="form-control" id="Confirmation" name="Confirmation">
                                                        <option value="0">--select--</option>
                                                        <option value="yes">Yes</option>
                                                        <option value="no">No</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label>Class:</label>
                                                    <select class="form-control" id="Class_Id" name="Class_id">
                                                        <option value="0">---Select Class---</option>
                                                        @foreach (var item in ViewBag.Class as IEnumerable<SchoolManagement.Data.Models.Tbl_DataListItem>)
                                                        {
                                                            <option value="@item.DataListItemId">@item.DataListItemName</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row" id="divSibling_2" style="display:none">
                                                <div class="col-sm-4">
                                                    <label>Sibling:</label>
                                                    <input type="text" class="form-control" id="Sibiling1" placeholder="StudentName" name="Student_name"/>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label>Select:</label>
                                                    <select class="form-control" id="Confirmation" name="Confirmation">
                                                        <option value="0">--select--</option>
                                                        <option value="yes">Yes</option>
                                                        <option value="no">No</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label>Class:</label>
                                                    <select class="form-control" id="Class_Id" name="Class_id">
                                                        <option value="0">---Select Class---</option>
                                                        @foreach (var item in ViewBag.Class as IEnumerable<SchoolManagement.Data.Models.Tbl_DataListItem>)
                                                        {
                                                            <option value="@item.DataListItemId">@item.DataListItemName</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row" id="divSibling_3" style="display:none">
                                                <div class="col-sm-4">
                                                    <label>Sibling:</label>
                                                    <input type="text" class="form-control" id="Sibiling1" placeholder="StudentName" name="Student_name"/>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label>Select:</label>
                                                    <select class="form-control" id="Confirmation" name="Confirmation">
                                                        <option value="0">--select--</option>
                                                        <option value="yes">Yes</option>
                                                        <option value="no">No</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label>Class:</label>
                                                    <select class="form-control" id="Class_Id" name="Class_id">
                                                        <option value="0">---Select Class---</option>
                                                        @foreach (var item in ViewBag.Class as IEnumerable<SchoolManagement.Data.Models.Tbl_DataListItem>)
                                                        {
                                                            <option value="@item.DataListItemId">@item.DataListItemName</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row" id="divSibling_4" style="display:none">
                                                <div class="col-sm-4">
                                                    <label>Sibling:</label>
                                                    <input type="text" class="form-control" id="Sibiling1" placeholder="StudentName" name="Student_name"/>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label>Select:</label>
                                                    <select class="form-control" id="Confirmation" name="Confirmation">
                                                        <option value="0">--select--</option>
                                                        <option value="yes">Yes</option>
                                                        <option value="no">No</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label>Class:</label>
                                                    <select class="form-control" id="Class_Id" name="Class_id">
                                                        <option value="0">---Select Class---</option>
                                                        @foreach (var item in ViewBag.Class as IEnumerable<SchoolManagement.Data.Models.Tbl_DataListItem>)
                                                        {
                                                            <option value="@item.DataListItemId">@item.DataListItemName</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            
                                            <br />
                                            <input type="hidden" id="siblingsVisible" value="0" />
                                            <input type="button" value="Add" onclick="ShowSiblings();" />

                                            <input style="display: none;" id="btnHideSibling" type="button" value="Remove" onclick="HideSiblings();" />
                                        </div><!-- col-sm-6 closed -->
                                        <div class="col-sm-6">
                                            <!-- col-sm-6 started -->
                                            <h5 style="color: #1ABB9C;">Mother's Details </h5>
                                            <div class="form-group">
                                                <label>Mother’s Name  : <span style="color:red">*</span></label>
                                                <input type="text" name="FamilyDetail.MotherName" id="MotherName" class="form-control" style="border-color:red">
                                            </div>
                                            <div class="form-group">
                                                <label>E Mail : <span style="color:red">*</span></label>
                                                <input type="email" name="FamilyDetail.MEMail" id="MEMail" class="form-control" style="border-color:red">
                                            </div>
                                            <div class="form-group">
                                                <label>Occupation  : <span style="color:red">*</span></label>
                                                <input type="text" name="FamilyDetail.MOccupation" id="MOccupation" class="form-control" style="border-color:red">
                                            </div>
                                            <div class="form-group">
                                                <label>Mobile : <span style="color:red">*</span></label>
                                                <input type="text" name="FamilyDetail.MMobile" id="MMobile" class="form-control" style="border-color:red">
                                            </div>
                                            <div class="form-group">
                                                <label>Phone : </label>
                                                <input type="text" name="FamilyDetail.MPhone" id="MPhone" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>Qualifications  : </label>
                                                <input type="text" name="FamilyDetail.MQualifications" id="MQualifications" class="form-control">
                                            </div>

                                            <div class="form-group" style="display:none">
                                                <label>Organization  : </label>
                                                <input type="text" name="FamilyDetail.MOrganization" id="MOrganization" class="form-control">
                                            </div>



                                            <div class="form-group">
                                                <label>Annual Income : </label>
                                                <input type="text" name="FamilyDetail.MAnnualIncome" id="MAnnualIncome" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>No.Of Sisters </label>
                                                <input type="text" name="FamilyDetail.NoOfSisters" id="NoOfSisters" class="form-control">
                                            </div>
                                        </div><!-- col-sm-6 closed -->

                                    </div><!-- col-sm-12 closed -->
                                    <div class="col-sm-12" style="border-bottom: 1px solid #E6E9ED;">
                                        <!-- col-sm-12 started -->
                                        <h4 class="std_head well-sm">Address</h4>
                                        <div class="col-sm-6">
                                            <!-- col-sm-6 started -->
                                            <div class="form-group">
                                                <label>Residential Address  : <span style="color:red">*</span></label>
                                                <textarea type="text" name="FamilyDetail.FResidentialAddress" id="FResidentialAddress" class="form-control" style="border-color:red"></textarea>
                                            </div>

                                        </div><!-- col-sm-6 closed -->
                                        <div class="col-sm-6">
                                            <!-- col-sm-6 started -->
                                            <div class="form-group">
                                                <label>Permanent Address : <span style="color:red">*</span></label>
                                                <textarea type="text" name="FamilyDetail.MPermanentAddress" id="MPermanentAddress" class="form-control" style="border-color:red"></textarea>
                                            </div>

                                        </div><!-- col-sm-6 closed -->
                                        @*<button type="button" class="btn btn-success pull-right" id="Btnfamilyverify">
                                                Next
                                            </button>*@
                                        @*<a data-toggle="tab" href="#add2" class="button_a outsidestudentlink_1 btn btn-success pull-right">Next</a>*@
                                    </div><!-- col-sm-12 closed -->
                                </div>

                                <div class="row">
                                    <!-- col-sm-12 started -->
                                    <div class="col-sm-12">
                                        <!-- col-sm-12 started -->
                                        <h4 class="std_head well-sm"> Guardian’s Details</h4>
                                        <div class="col-sm-6">
                                            <!-- col-sm-6 started -->
                                            <div class="form-group">
                                                <label>Guardian’s Name :</label>
                                                <input type="text" name="GuardianDetails.GuardianName" id="GGuardianName" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>Qualifications :</label>
                                                <input type="text" name="GuardianDetails.Qualifications" id="GQualifications" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>Occupation :</label>
                                                <input type="text" name="GuardianDetails.Occupation" id="GOccupation" class="form-control">
                                            </div>
                                            <div class="form-group" style="display:none">
                                                <label>Organization :</label>
                                                <input type="text" name="GuardianDetails.Organization" id="GOrganization" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>Phone : </label>
                                                <input type="text" name="GuardianDetails.Phone" id="GPhone" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>Mobile  : </label>
                                                <input type="text" name="GuardianDetails.Mobile" id="GMobile" class="form-control">
                                            </div>

                                        </div><!-- col-sm-6 closed -->
                                        <div class="col-sm-6">
                                            <!-- col-sm-6 started -->
                                            <div class="form-group">
                                                <label>E Mail  : </label>
                                                <input type="text" name="GuardianDetails.EMail" id="GEMail" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>Annual Income </label>
                                                <input type="text" name="GuardianDetails.AnnualIncome" id="GAnnualIncome" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>Residential Address  : </label>
                                                <textarea class="form-control" name="GuardianDetails.ResidentialAddress" id="GResidentialAddress"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label>Permanent Address : </label>
                                                <textarea class="form-control" name="GuardianDetails.PermanentAddress" id="GPermanentAddress"></textarea>
                                            </div>

                                        </div><!-- col-sm-6 closed -->
                                        @*<button type="button" id="btnguardianverify" class="btn btn-success pull-right">Next</button>*@
                                        @*<a data-toggle="tab" href="#add3" class="button_a outsidelink_2 btn btn-success pull-right">Next</a>*@
                                    </div><!-- col-sm-12 closed -->
                                </div>

                                <div class="row">
                                    <!-- row started -->
                                    <div class="col-sm-12 table-responsive">
                                        <!-- col-sm-12 started -->
                                        <h4 class="std_head well-sm">Additional information</h4>
                                        <div class="col-sm-6">
                                            <!-- col-sm-6 started -->


                                            <h5 style="color: #1ABB9C;">Additional information</h5>
                                            <div class="form-group">
                                                <label>Phisically Chalanged :</label><br />
                                                <label class="radio-inline"><input checked type="radio" id="Phisically1" name="AdditionalInformation.Phisicallychalanged" value="Yes">Yes</label>
                                                <label class="radio-inline"><input type="radio" id="Phisically2" name="AdditionalInformation.Phisicallychalanged" value="No">No</label>

                                            </div>
                                            <div class="form-group">
                                                <label>SSSMId Number :</label>
                                                <input type="text" name="StudentRegistration.SSSMIdNumber" id="SSSMIdNumber" class="form-control">
                                            </div>


                                            <div class="form-group">
                                                <label>Family SSSMId Number :</label>
                                                <input type="text" name="StudentRegistration.FamilySSSMID" id="FamilySSSMID" class="form-control">
                                            </div>

                                            <div class="form-group">
                                                <label>Bank Account :</label>
                                                <input type="text" name="StudentRegistration.BankAccount" id="BankAccount" class="form-control">
                                            </div>

                                            <div class="form-group">
                                                <label>Bank Name :</label>
                                                <input type="text" name="StudentRegistration.BankName" id="BankName" class="form-control">
                                            </div>

                                            <div class="form-group">
                                                <label>Bank Acc Holder :</label>
                                                <input type="text" name="StudentRegistration.BankACHolder" id="BankACHolder" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>Bank IFSC No :</label>
                                                <input type="text" name="StudentRegistration.BankIFSC" id="BankIFSC" class="form-control">
                                            </div>


                                            <h5 style="color: #1ABB9C;">For office use only</h5>


                                            @*div class="form-group">
            <label>Fee Structure Applicable :</label><br />
            <input type="radio" name="AdditionalInformation.FeeStructureApplicable" id="FeeStructureApplicable1" value="Standard Fee" checked> Standard Fee<br />
            <input type="radio" name="AdditionalInformation.FeeStructureApplicable" id="FeeStructureApplicable2" value="Sibling Discount(Rs.5000)"> Sibling Discount(Rs.5000)<br />
            <input type="radio" name="AdditionalInformation.FeeStructureApplicable" id="FeeStructureApplicable3" value="Full Payment(3000 Discount)"> Full Payment(3000 Discount)
        </div>*@
                                            <div class="form-group">
                                                <label> Remarks</label>
                                                <textarea type="text" name="AdditionalInformation.Remarks" id="ARemarks" class="form-control"></textarea>
                                            </div>
                                        </div><!-- col-sm-6 closed -->
                                        <div class="col-sm-6 table-responsive">
                                            <!-- col-sm-6 started -->


                                            <h5 style="color: #1ABB9C;">Documents Enclosed </h5>
                                            <table class="table">
                                                <tr><td>Birth certificate (photo copy) </td> <td><input type="file" name="BirthCertificateAvatar" accept=".jpg,.png,.jpeg" class="form-control"  id="birthcertificate"/><label type="text" id="BirthCertificateAvatar"></label></td></tr>
                                                <tr><td>Three passport size photographs </td> <td><input type="file" name="ThreePassportSizePhotographs" accept=".jpg,.png,.jpeg"class="form-control" /><label type="text" id="passportsize"></label></td></tr>
                                                <tr><td>Progress Report (photo copy) </td> <td><input type="file" name="ProgressReport" accept=".jpg,.png,.jpeg" class="form-control"/><label type="text" id="progressreport"></label></td></tr>
                                                <tr><td> Migration Certificate (original) </td> <td><input type="file" name="MigrationCertificate" accept=".jpg,.png,.jpeg" class="form-control"/><label type="text" id="migrationcertificate"></label></td></tr>
                                            </table>
                                           
                                        </div><!-- col-sm-6 closed -->
                                    </div><!-- col-sm-12 closed -->
                                    @*<button type="button" id="btnadditioninfoverify" class="btn btn-success pull-right">Next</button>*@
                                    @*<a data-toggle="tab" href="#add4" class="button_a outsidelink_3 btn btn-success pull-right">Next</a>*@
                                </div>

                                <div class="row">
                                    <!-- row started -->
                                    <div class="col-sm-12">
                                        <!-- col-sm-12 started -->
                                        <h4 class="std_head well-sm"> Past Schooling Record</h4>
                                        <div class="col-sm-6">
                                            <!-- col-sm-6 started -->

                                            <div class="form-group">
                                                <label>Name of school last attended : </label>
                                                <input type="text" name="PastSchoolingReport.NameOfSchoolLastAttended" id="NameOfSchoolLastAttended" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>Class Passed : </label>
                                                <input type="text" name="PastSchoolingReport.ClassPassed" id="ClassPassed" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>Promotion:</label><br />
                                                <label class="radio-inline"><input type="radio" name="PastSchoolingReport.Promotion" id="Promotion1" value="Pass" checked> Pass</label>
                                                <label class="radio-inline"><input type="radio" name="PastSchoolingReport.Promotion" id="Promotion2" value="Fail"> Fail</label>
                                            </div>
                                            <div class="form-group">
                                                <div style="border:1px solid gray;">
                                                    <span>
                                                        <label style="font-style:italic"> * All the fields are required and will be used to retrieve your admission form for future reference</label>
                                                        <label style="font-style:italic">
                                                            * If you have already filled the registration form then you will be presented with partially filled form
                                                        </label>
                                                        <label style="font-style:italic">
                                                            * In the course of filling admission form, anytime if you feel to do it later then you can save that form and continue it later
                                                        </label>
                                                        <label style="font-style:italic;color:red;">
                                                            * Mandatory fields are marked. However please fill as much information as possible for smooth application processing.
                                                        </label>
                                                        <label style="font-style:italic;color:red;">
                                                            * At the end please check the iagree checkbox to be able to submit your application.
                                                        </label>
                                                    </span>
                                                </div>
                                                
                                            </div>
                                        </div><!-- col-sm-6 closed -->
                                        <div class="col-sm-6">
                                            <!-- col-sm-6 started -->
                                            <div class="form-group">
                                                <label>Reason for leaving : </label>
                                                <input type="text" name="PastSchoolingReport.ReasonForLeaving" id="ReasonForLeaving" class="form-control">
                                            </div>

                                            <h5 style="color: #1ABB9C;">Transfer documents attached : </h5>

                                            <table class="table">
                                                <tr><td>Transfer/School Leaving </td> <td><input type="file" name="TCAvatar" accept=".jpg,.png,.jpeg" /><label type="text" id="trasfercertificate"></label></td></tr>
                                                <tr><td>Marks Card</td> <td><input type="file" name="MarksCardAvatar" accept=".jpg,.png,.jpeg" /><label type="text" id="markscertificate"></label></td></tr>
                                                <tr><td>Character/Conduct Certificate</td> <td><input type="file" name="CharacterConductCertificateAvatar" accept=".jpg,.png,.jpeg" /><label type="text" id="conductcertificate"></label></td></tr>
                                            </table>
                                        </div><!-- col-sm-6 closed -->
                                        <div class="col-sm-6">
                                            <!-- col-sm-6 started -->
                                            @*<input type="submit" class="btn btn-success pull-right" id="submitformBTn" value="Submit Form" />*@
                                            @if (!string.IsNullOrWhiteSpace(ViewBag.ActiveBatch) && ViewBag.IsActiveForPayments)
                                            {
                                                <button type="submit" id="submitformBTn" class="btn btn-success pull-right" >Submit</button>
                                            }
                                            else
                                            {
                                                <button type="submit" id="submitformBTn" class="btn btn-success pull-right ">Submit</button>
                                            }
                                            @*disabled*@
                                            @*<a data-toggle="tab" href="#add5" class="button_a outsidelink_4 btn btn-success pull-right">Next</a>*@
                                        </div>
                                    </div><!-- col-sm-12 closed -->
                                </div>

                            </div><!-- tab-pane fade in active closed -->
                            <!-- row closed -->
                        </div><!-- tab-pane fade closed -->
                    </form>
                </div><!-- col-msx-12  closed -->
            </div><!-- 1st row closed -->
        </div>
    </div>

    <script src="~/Scripts/WebsiteJs/js/jquery.min.js"></script>
    <script src="~/Scripts/WebsiteJs/js/bootstrap.min.js"></script>
    <script src="~/Scripts/DevelopmentJS/UpdateStudent.js"></script>
    <script src="~/Content/DatePicker2/js/jquery.plugin.min.js"></script>

    <script src="~/Content/DatePicker2/js/jquery.datepick.js"></script>
    <script src="~/Scripts/RegistrationJs/StudentAcadamicDetails.js"></script>
    <script src="~/Scripts/RegistrationJs/StudentWorkExperienceWr.js"></script>
    <script src="~/Scripts/RegistrationJs/RegistrationJS.js"></script>
    <script src="~/Scripts/RegistrationJs/StudentRegistration.js"></script>
    <script src="~/Scripts/RegistrationJs/RegMethods.js"></script>
    <script src="~/Scripts/DevelopmentJS/leftMenuBinderJS.js"></script>
    <script>


        function IsApproveClick() {
            if ($('#IsApprove').is(":checked") == true)
                $('#IsApplyforAdmission').attr("disabled", true).attr("checked", false);
            else
                $('#IsApplyforAdmission').attr("disabled", false);
        }
    </script>
    <script>
        //$('.datepicker').datepicker({
        //    format: "dd/mm/yyyy"
        //});
        $('.datepicker').datepick({ dateFormat: 'dd/mm/yyyy' });

        $("#btnadditioninfoverify").on('click', function () {
            $("#pastschoollink").tab('show');
        });

        $("#btnguardianverify").on('click', function () {
            $("#additionallink").tab('show');
        });

    </script>


    <script>

        $("#TransportFacility").on('click', function () {
            var id = $(this).val();
            if (id == 0)
                return false;
            if (id == "yes")
                $("#transportavailability").show();
            else
                $("#transportavailability").hide();
        });

        $("#submitformBTn").on('click', function () {
            //alert("test");
            var msg = "";
            var sname = $("#SName").val();
            var nationality = $("#Nationality").val();
            var sDOB = $("#DOB").val();
            var parentemail = $("#parentemail").val();
            var classid = $("#Class_Id").val();
            var transport = $("#TransportFacility").val();
            var fathername = $("#FatherName").val();
            var femail = $("#FEMail").val();
            var fatheroccupation = $("#FOccupation").val();
            var fathermobile = $("#FMobile").val();
            var mothername = $("#MotherName").val();
            var motheremail = $("#MEMail").val();
            var motheroccupation = $("#MOccupation").val();
            var mothermobile = $("#MMobile").val();
            var transportavail = $("#selecttransportoption").val();
            var FResidentialAddress = $("#FResidentialAddress").val();
            var MPermanentAddress = $("#MPermanentAddress").val();
            var Lname = $("#Lname").val();
            var BloodGroup_Id = $("#BloodGroup_Id").val();
            //var birthcertificate = $("#birthcertificate").val();
            //var parentemail = $("#parentemail").val();
            //console.log("birthcertificate", birthcertificate);

            //if (birthcertificate == "") {
            //    msg += "Birthcertificate cannot be blank\r";
            //}

            //if (BloodGroup_Id == "---select Bloodgroup---")
            //{
            //    msg += "BloodGroup Cannot be Blank\r";
            //}

            if (transport == "yes") {
                if (transportavail == "" || transportavail == "NA") {
                    msg += "Transport Option Cannot be Blank\r";
                }
            }
            else {
                $("#selecttransportoption").val("NA");
                var vale = $("#selecttransportoption").val();
                //console.log("value", vale);
            }
            if (sname == "") {
                msg += "Name Cannot be Blank\r";
            }
            if (Lname == "") {
                msg += "Last Name Cannot be Blank\r";
            }
            //if (parentemail = "" || parentemail == null) {
            //    msg += "Parent Email Cannot be Blank\r";
            //}
            if (nationality== "") {
                msg += "Nationality Cannot be blank\r";
            }
            if (sDOB == "") {
                msg += "DOB Cannot be blank\r";
            }

            if (parentemail == "") {
                msg += "Email Cannot be blank\r";
            }
            if (classid == "---Select Class---") {
                msg += "Class Cannot be blank\r";
            }

            if (transport == "" || transport == null || transport == 0) {
                msg += "Tansport Facility Cannot be blank\r";
            }

            if (fathername == "") {
                msg += "FatherName Cannot be blank\r";
            }

            if (femail == "") {
                msg += "Father Email Cannot be Blank\r";
            }

            if (fatheroccupation == "") {
                msg += "Father Occupation Cannot be Blank\r";
            }

            if (fathermobile == "") {
                msg += "Father Mobile Cannot be Blank\r";
            }

            if (mothername == "") {
                msg += "Mother Name Cannot be Blank\r";
            }

            if (motheremail == "") {
                msg += "Mother Email Cannot be Blank\r";
            }

            if (motheroccupation == "") {
                msg += "Mother Occupation Cannot be Blank\r";
            }

            if (mothermobile == "") {
                msg += "Mother Mobile Cannot be Blank\r";
            }

            if (FResidentialAddress == "") {
                msg += "ResidentialAddress Cannot be Blank\r";
            }

            if (MPermanentAddress == "") {
                msg += "PermanentAddress Cannot be Blank\r";
            }


            if (msg != "") {
                alert("Following Fields Are Mandatory :\r " + msg);
                return false;

            }
            else {
                $("#Studentform").attr('action', '/Student/AddStudentDetails');
                //$("#familydetaillink").tab('show');
            };

        });

        function validatestudentform() {
            var msg = "";
            var sname = $("#SName").val();
            var nationality = $("#Nationality").val();
            var sDOB = $("#DOB").val();
            var parentemail = $("#parentemail").val();
            var classid = $("#Class_Id").val();
            var transport = $("#TransportFacility").val();



            if (sname == "") {
                msg += "Name Cannot be Blank\r";
            }
            if (nationality == "") {
                msg += "Nationality Cannot be blank\r";
            }
            if (sDOB == "") {
                msg += "DOB Cannot be blank\r";
            }

            if (parentemail == "") {
                msg += "Email Cannot be blank\r";
            }
            if (classid == "" || classid == null) {
                msg += "Class Cannot be blank\r";
            }

            if (transport == "" || transport == null) {
                msg += "Tansport Option Cannot be blank\r";
            }

            if (msg != "") {
                alert("Please refer to the following error(s) :\r " + msg);
            } else {
                $("#familydetaillink").tab('show');
            };

        }

        $("#btnverify").on('click', function () {
            validatestudentform();
        });

        //$(".outsidestudentlink").on("click", function () {
        //    validatestudentform();
        //});
    </script>

    <script>
        $("#Btnfamilyverify").on("click", function () {
            validateFamilydetailsform();
        });

        function validateFamilydetailsform() {
            var msg = "";
            var fathername = $("#FatherName").val();
            var femail = $("#FEMail").val();
            var fatheroccupation = $("#FOccupation").val();
            var fathermobile = $("#FMobile").val();
            var mothername = $("#MotherName").val();
            var motheremail = $("#MEMail").val();
            var motheroccupation = $("#MOccupation").val();
            var mothermobile = $("#MMobile").val();

            if (fathername == "") {
                msg += "FatherName Cannot be blank\r";
            }

            if (femail == "") {
                msg += "Father Email Cannot be Blank\r";
            }

            if (fatheroccupation == "") {
                msg += "Father Occupation Cannot be Blank\r";
            }

            if (fathermobile == "") {
                msg += "Father Mobile Cannot be Blank\r";
            }

            if (mothername == "") {
                msg += "Mother Name Cannot be Blank\r";
            }

            if (motheremail == "") {
                msg += "Mother Email Cannot be Blank\r";
            }

            if (motheroccupation == "") {
                msg += "Mother Occupation Cannot be Blank\r";
            }

            if (mothermobile == "") {
                msg += "Mother Mobile Cannot be Blank\r";
            }

            if (msg != "") {

                alert("Please refer to the following error(s) :\r" + msg);

            } else {
                $("#guardiandetaillink").tab('show');
            };

        }




    </script>


    

</body>
</html>
